[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Bricksync Terminal
Comment=Run Bricksync in a terminal
Path=/app
Exec=xfce4-terminal --hold -e "/app/bricksync"
StartupNotify=false
Terminal=false
Hidden=false
