[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Link
Name=Bricksync GitHub
Comment=Open the Bricksync GitHub page
URL=https://github.com/ZZJHONS/Bricksync
Icon=text-html
